.header {
    display: flex;
    justify-content: center;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    padding-top: 0.625rem;
}

.header__img {
    width: 6.25rem;
}

.header__checkbox {
    opacity: 0;
    position: absolute;
}

.header__label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5625rem;
    position: relative;
    width: 5rem;

    transform: scale(1);

    background: var(--header-label-background);
    border-radius: 3.125rem;
    cursor: pointer;
    border: 0.125rem solid var(--aside-button-copy-background);
    box-shadow: 0.0625rem 0.0625rem 0.3125rem var(--aside-button-copy-background);
}

.header__ball {
    background: var(--header-ball-background);
    border-radius: 50%;
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;

    height: 2.1875rem;
    width: 2.1875rem;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.header__checkbox:checked+.header__label .header__ball {
    transform: translateX(2.4rem);
}

.fas {
    font-size: 1.25rem;
    color: var(--header-icon-color);
}
