.main {
    display: flex;
    justify-content: center;
    height: 80vh;
    margin: 1rem 0;
}

.main .main__aside__junction {
    display: flex;
    justify-content: space-between;

    width: 90%;
}

.main__container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.main__container__textarea {
    background-image: url(/src/img/background03.svg);
    background-size: cover;
    background-position: right top;

    width: 100%;
}

.main__textarea {
    resize: none;
    width: 100%;
    height: 55vh;
    padding: 0.625rem;

    border: none;
    outline: none;

    background: transparent;

    font-size: 1.2rem;
    font-weight: 500;
    color: var(--textarea-text-color);
}

.main__textarea::placeholder {
    color: var(--textarea-placeholder-color);
    font-size: 1.2rem;
}


/*scrollbar*/
.main__textarea {
    scrollbar-width: thin; /* Para navegadores Firefox */
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-color-bacground);/* Para navegadores Firefox */
}

.main__textarea::-webkit-scrollbar {
    width: 0.75rem;
}

.main__textarea::-webkit-scrollbar-track {
    background: var(--scrollbar-color-bacground);
}

.main__textarea::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 0.625rem;
    border: 0.1875rem solid var(--scrollbar-color-bacground);
}

.main__paragraph {
    padding-top: 1.25rem;
    font-size: 0.75rem;

    font-weight: 400;
    color: var(--main-paragraph-color);
}

.main__container__button {
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    width: 40%;
    padding: 0.625rem;
    border: none;
    border-radius: 1.25rem;

    font-size: 1rem;
    color: var(--main-button-color);
}

.main__button-encrypt {
    background: var(--main-button-encrypt-background);
}

.main__button-decrypt {
    border:  0.125rem solid var(--main-button-decrypt-barder);
    color: var(--main-button-decrypt-color);
}


/*Aside*/
.aside {
    width: 37%;
    border-radius: 1.875rem 1.875rem 0 0;
    background: var(--aside-background);
    border: 0.125rem solid var(--aside-button-copy-background);
    box-shadow: 0.0625rem 0.0625rem 0.3125rem var(--aside-button-copy-background);
}

.aside__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

}   

.aside__textarea-output {
    resize: none;
    width: 100%;
    height: 85%;
    border-radius: 1.875rem 1.875rem 0 0;

    background: transparent;
    outline: none;
    border: none;
    padding: 1.25rem;

    color: var(--aside-paragraph-color);
    font-size: 1.1rem;
    font-weight: 400;

}

.aside__textarea-output {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; 
}

.aside__textarea-output::-webkit-scrollbar {
    width: 0.625rem;
}

.aside__textarea-output::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 0.625rem;
}

.aside__textarea-output::-webkit-scrollbar-track {
    background: transparent;
}

.aside__initial-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside__image {
    width: 65%;
    margin-top: 1.25rem;
}

.title {
    text-align: center;
    width: 80%;
}

.aside__title {
    font-size: 1.5rem;
    color: var(--aside-title-color);
}

.aside__subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.625rem;
    color: var( --aside-subtitle);
}

.aside__button-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;

    position: sticky;
    bottom: 0;

    width: 100%;
    border: none;
    border-radius: 1.875rem 1.875rem 0 0;
    padding: 0.9375rem;

    background: var(--aside-button-copy-background);

    font-size: 1rem;
    color: var( --aside-button-copy-color);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background: var(--footer-background);
    padding: 2%;
    gap: 0.3125rem;
    color: var(--footer-color);
}

.footer__social-midia {
    display: flex;
}

.footer__social-midia a {
    color: var(--footer-color);
    font-size: 1.5rem;
    padding: 0.3125rem;
}

.hidden {
    display: none;
}